@media only screen and (max-width : 800px)  {
    .wrapper {
        width: 100%;
    }
    .header {
        height: auto;
    }
    .header-link-block {
        clear: both;
    }
    ul.header-link-block li {
        float: none;
    }
    ul.header-link-block li a {
        padding: 10px 25px;
    }
    .header div.header-account-information {
        border: none;
    }
    .header-user-avatar {
        overflow: visible;
        position: relative;
    }
    .user-wrapper {
        display: none;
    }
    ul.header-link-block li.mobile-logout {
        display: block;
    }
    .upload-wrapper .photo-holder {
        height: 40px;
    }
    .dashboard-page {
        max-width: 460px;
        width: 95%;
    }
    .dashboard-page .additional-info li {
        width: 33%;
    }
    .flight {
        margin: 0 auto;
        width: 95%;
    }
    .flight .btn, .main-form > .btn.btn-blue, .main-form > .btn.btn-green {
        float: none;
        margin: 0 auto 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        width: 100%;
    }
    .main-form > .btn.btn-blue, .main-form > .btn.btn-green {
        width: 92%;
    }
    ul.form-fields {
        left: 0;
        margin-left: 0;
        right: 10px;
        top: 50px;
    }
    .form-builder-wrapper {
        position: relative;
    }
    .risk-factor-list > li .entry-header, .risk-factor-list > li .risk-factor-wrapper {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0 20px;
        width: auto;
    }
    .risk-factor-global-wrapper input[type="text"].response-text {
        width: 82% !important;
    }
    ul.scale li {
        width: 9%;
    }
    .mitigation-fields li.risk-value-edit .mitigation-header {
        padding: 14px 26px 14px 9px;
        width: 92%;
    }
    .risk-factor-list > li .risk-factor-wrapper span.ui-spinner {
        min-width: 50px;

    }

    .risk-factor-list > li .risk-factor-wrapper span.ui-spinner input[type="text"] {
        padding: 6px 16px 6px 10px;
    }
    .risk-factor-global-wrapper input.response-text[type="text"] {
        width: 75% !important;
    }
    a.add-note, a.remove-note {
        clear: both;
    }
    .editable-list .caption-block, .editable-list .editing .caption-block, .editable-list .new .caption-block, .editable-list .info-block {
        /*min-width: 280px;*/
    }
    .editable-list .my-information .name, .editable-list .account-title {
        /*-webkit-box-sizing: content-box;*/
        /*float: none;*/
        /*margin-left: 41px;*/
        /*overflow: hidden;*/
        /*max-width: 84%;*/
        /*min-width: 77%;*/
        /*width: auto !important;*/
    }
    .header div.header-account-information {
        max-width: 75%;
        min-width: 100px;
    }
    .header div.header-account-information .header-account-title {
        max-width: 60%;
    }
    .assessment-wrapper, .first-time-wrapper, .first-time-dashboard {
        margin: 0 auto;
        max-width: 500px;
        width: 90%;
    }
    .assessment-wrapper .btn.btn-green, .assessment-wrapper .btn.btn-grey, .assessment-wrapper .btn.btn-red {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        float: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .first-time-dashboard .first-time-wrapper {
        width: 100%;
    }

    .first-time-dashboard .new-flight-wrapper {
        width: auto;
    }




}
/*@media screen and (max-width: 400px) {*/
    /*.container {*/
        /*background: #ffc0cb;*/
        /*width: 300px;*/
    /*}*/
    /*.wrapper {*/
        /*width: 100%;*/
    /*}*/
    /*.header {*/
        /*max-width: 300px;*/
    /*}*/

/*}*/
@media only screen and (max-width : 450px)  {
    #slider-range {
        margin: 0 auto;
        width: 300px;
    }
    ul.scale {
        margin: 10px 0 10px 2px;
        width: 320px;
    }
    ul.scale li {
        width: 15px;
    }
    ul.scale li#li-5 {
        margin-left: 27px;
    }
    ul.scale li#li-10 {
        padding-left: 10px;
    }
    ul.scale li#li-15 {
        padding-left: 17px;
    }
    ul.scale li#li-20 {
        padding-left: 16px;
    }
    ul.scale li#li-25 {
        padding-left: 14px;
    }
    ul.scale li#li-30 {
        padding-left: 15px;
    }
    ul.scale li#li-35 {
        padding-left: 16px;
    }
    ul.scale li#li-40 {
        padding-left: 16px;
    }
    ul.scale li#li-45 {
        padding-left: 16px;
        width: 15px;
    }
    ul.scale li#li-50 {
        width: 31px;
    }
}