@media screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
    }
    .header {
        max-width: 500px;
    }

}
@media screen and (max-width: 300px) {
    .wrapper {
        width: 100%;
    }
    .header {
        max-width: 300px;
    }

}