/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html		                        { width:100%; height:100%; }
body {
    background: #F2F2F2;
    padding:0;
    margin:0;
    font: 14px/100% Arial, Verdana, Helvetica, sans-serif;
    color:#000;
    height: 100%;
    overflow-x: hidden;
    /*width: 100%;*/
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style: none;
}
select, input, textarea        { font-size: 13px; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]				 { font-family: 'PT Sans', Arial; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
button                         { color: #fff; padding: 0; border: 0; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; }
a                              { cursor: pointer; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; margin: 5px 13px 0 0; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.no-overflow                   { overflow:visible !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; overflow: hidden; }
.uppercase	                   { text-transform: uppercase; }
.pointer                       { cursor:pointer; }



:focus {outline:none;}
::-moz-focus-inner {border:0;}


.editable ul, .editable ol {
  padding: 0 0 0 20px;
}
.editable ul li {
  list-style: decimal;
}
.editable ol li {
  list-style: disc;
}

.hidden {
    display: none !important;
}

.truncate {
    display: block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-binding: url(ellipsis.xml#ellipsis);
    white-space: nowrap !important;
    max-width: 89%;
}



.ui-sortable {
    padding: 1px 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------> Main Structure <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.container {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}
a.logo {
    background: url(../images/logo.png) no-repeat left top;
    display: block;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -1000px;
    width: 114px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------> HEADER <-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
    background: #FFF;
    border-bottom: 1px solid #E4E4E4;
    height: 60px;
    margin: 0 0 42px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.header a {
    color: #0F76BB;
    text-decoration: none;
}

.header div.header-account-information {
    float: left;
    border-right: 1px solid #E4E4E4;
    min-width: 200px;
}

.header div.header-account-information .header-account-avatar {
    background: #000;
    display:block;
    float:left;
    min-height: 60px;
    min-width: 60px;
}

.header div.header-account-information .header-account-title {
    display: inline-block;
    font-size: 1.14em;
    font-weight: 600;
    margin: 20px 0 0;
    padding: 0 15px;
    line-height: normal;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

ul.header-link-block {
    float: left;
    overflow: hidden;
}
ul.header-link-block li {
    float: left;
    overflow: hidden;
}
ul.header-link-block li a {
    color: #0F76BB;
    display: block;
    padding: 23px 10px;
    text-decoration: none;
}
ul.header-link-block li.mobile-logout {
    display: none;
}
.header-user-information-wrapper {
    float:right;
    overflow: hidden;
}
.header-user-avatar {
    background: #333;
    border: 1px solid #000;
    display: block;
    float:right;
    height: 65%;
    margin: 10px 22px 10px 10px;
    overflow: hidden;

    min-height: 40px;
    min-width: 40px;
}

.user-wrapper {
    float: right;
    overflow: hidden;
    padding: 15px 0;
}
.user-wrapper .header-user-name, .user-wrapper .header-user-email {
    display: block;
}
.user-wrapper .header-user-email {
    color: #999;
    font-size: 0.85em;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------> Styles of buttons <------------------------------*/
/*----------------------------------------------------------------------------------*/
.btn {
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 35px;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.btn-green {
    background: #66CC00;
    border-color: #669900;
    color: #FFF;
}

.btn-grey {
    background: #CCC;
    border-color: #999;
    color: #FFF;
    cursor: pointer;
}

.btn-grey {
    background: #CCC;
    border-color: #999;
    color: #FFF;
    cursor: pointer;
}

.btn-red {
    background: #FF3333;
    border-color: #AA3333;
    color: #FFF;
    cursor: pointer;
}


.btn-blue, .btn-grey:hover {
    background: #00AEEF;
    border-color: #0F76BB;
    color: #FFF;
    cursor: pointer;
}
/*.btn-violet:hover {*/
    /*background: #B74CFF;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#CA6CFF), to(#A42AF4));*/
    /*background: -webkit-linear-gradient(top, #CA6CFF, #A42AF4);*/
    /*background: -moz-linear-gradient(top, #CA6CFF, #A42AF4);*/
    /*background: -ms-linear-gradient(top, #CA6CFF, #A42AF4);*/
    /*background: -o-linear-gradient(top, #CA6CFF, #A42AF4);*/
    /*background-image: -ms-linear-gradient(top, #CA6CFF 0%, #A42AF4 100%);*/
/*}*/

/*.btn-grey:hover {*/
    /*background: #FFF;*/
    /*background: -moz-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(75%,#FEFEFE), color-stop(100%,#F0F0F0));*/
    /*background: -webkit-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);*/
    /*background: -o-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);*/
    /*background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);*/
    /*background: linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);*/
/*}*/



/*.error_list {*/
  /*color: #F00;*/
/*}*/

.invalid-field {
    border: 1px solid red !important;
}

.invalid-select {
    color: red !important;
}

.upload-wrapper {

    position: relative;
}

.upload-wrapper > input[type="file"] {
    /*font-size: 200px;*/
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
    overflow:hidden;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Error Pages <-----------------------------------*/
/*----------------------------------------------------------------------------------*/

/*.error-page {*/
    /*position: relative;*/
    /*overflow: visible !important;*/
/*}*/

/*.error-page div.error-page-wrapper {*/
    /*height: 250px;*/
    /*width: 680px;*/
    /*position: relative;*/
    /*margin: 0 auto 0;*/
    /*padding: 150px 0;*/
/*}*/

/*div.error-page-wrapper h1{*/
    /*font: 54px/120% 'Titillium Web';*/
    /*color: #777;*/
/*}*/

/*div.error-page-wrapper div.error-code-status{*/
    /*margin-top: 100px;*/
    /*font: 900 54px/120% 'Titillium Web';*/
/*}*/

/*div.error-code-status span.error-code{*/
    /*color: #212121;*/
/*}*/

/*div.error-code-status span.error-code-message{*/
    /*color: #7F24BD;*/
/*}*/

/*div.error-message span.error-status-message {*/
    /*font: 20px/120% 'Titillium Web';*/
    /*color: #666666;*/
/*}*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------> Sign In <------------------------------------------------------*/
/*---------------------------------------------------> Sign Up <------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.sign-in .wrapper, .sign-up .wrapper, .choose-account .wrapper, .create-account .wrapper {
    max-width: 300px;
}
.sign-in h1, .sign-up h1, .choose-account h1, .create-account h1 {
    color: #414042;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 22px;
    text-align: center;
    text-transform: capitalize;
}
.sign-in-form {
    overflow: hidden;
    width: 100%;
}
.sign-in-form input, .sign-up input, .create-account input {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 0 9px;
    padding: 12px;
    text-align: center;
    width: 100%;
}
.create-account input {
    text-align: left;
}
.sign-in-form input.placeholder, .sign-up input.placeholder, .create-account input.placeholder {
    color: #CCC;
}
.sign-in-form input::-webkit-input-placeholder, .sign-up input::-webkit-input-placeholder, .create-account input::-webkit-input-placeholder, .flight-field-list li.small-field input::-webkit-input-placeholder { /* WebKit browsers */
    color: #CCC !important;
}
.sign-in-form input:-moz-placeholder, .sign-up input:-moz-placeholder, .create-account input:-moz-placeholder, .flight-field-list li.small-field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCC !important;
}
.sign-in-form input::-moz-placeholder, .sign-up input::-moz-placeholder, .create-account input::-moz-placeholder, .flight-field-list li.small-field input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCC;
}
.sign-in-form input:-ms-input-placeholder, .sign-up input:-ms-input-placeholder, .create-account input:-ms-input-placeholder, .flight-field-list li.small-field input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #CCC;
}

.flight-field-list li.small-field input::-webkit-input-placeholder { 
    text-transform: none;
}
.flight-field-list li.small-field input:-moz-placeholder {
    text-transform: none;
}
.flight-field-list li.small-field input::-moz-placeholder { 
    text-transform: none;
}
.flight-field-list li.small-field input:-ms-input-placeholder { 
    text-transform: none;
}

.sign-in .btn-grey, .sign-up .btn-grey, .create-account .btn-grey, .create-account .btn-blue {
    margin-bottom: 9px;
    width: 100%;
}
.sign-in-form span, .sign-up span, .create-account p {
    color: #999;
    display: block;
    font-size: 0.85em;
    text-align: center;
}
.create-account p {
    line-height: 150%;
    margin-bottom: 15px;
}

.photo-holder {
    border-style: solid;
    border-color: #CCC;
    border-width: 1px 0 1px 1px;
    width: 39px;
    height: 39px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 0;
    background: url('../images/photo_bg.png') center center no-repeat;
}
.photo-holder:hover {
    cursor: pointer;
}

.with-dash-border {
    border-style: dashed;
}


.create-account .company-title {
    width: 260px;
    float: left;
}

.sign-in-form span a, .sign-up span a {
    color: #3E8CD7;
    cursor: pointer;
    text-decoration: none;
}
.sign-in-form span a:hover, .sign-up span a:hover {
    text-decoration: underline;
}
a.sign-out {
    left: 30px;
    position: absolute;
    top: 30px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------> Choose Account <-------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.choose-account .wrapper ul {
    overflow: hidden;
}
.choose-account .wrapper ul li {
    margin: 0 0 9px;
    overflow: hidden;
}
.choose-account .wrapper ul li img {
    background: #333;
    border: 1px solid #000;
    display: block;
    float: left;
    height: 39px;
    margin: 0 9px 0 0;
    width: 39px;
}
.choose-account .wrapper ul li a {
    color: #0F76BB;
    display: block;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none;
}
.choose-account .wrapper ul li span {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    color: #999;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 0 0 5px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------> Form Builder <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
h1 {
    margin-left: 20px;
}
.form-builder-wrapper {
    margin-bottom: 150px;
    /*padding-top: 175px;*/
    position: static;
}
span.bottom-border {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    display: block;
    height: 2px;
    margin: 20px 20px 30px;
    width: 92%;

}
.form-builder-wrapper h1 {
    margin-bottom: 170px !important;
}
.main-form > .btn.btn-green {
    float: right;
    margin-right: 20px;
}
.main-form > .btn.btn-blue {
    margin-left: 20px;
    padding: 9px 90px;

}
ul.scale {
    margin: 20px -22px 10px 54px;
    overflow: hidden;
}
ul.scale li {
    color: #FFCC00;
    display: block;
    float: left;
    font-size: 12px;
    overflow: hidden;
    width: 41px;
}
ul.scale li.green {
    color: #66CC00;
}
ul.scale li.red {
    color: #FF3333;
}
ul.scale li#li-10 {
    padding-left: 1px;
}
ul.scale li#li-15 {
    padding-left: 7px;
}
ul.scale li#li-20 {
    padding-left: 7px;
}
ul.scale li#li-25 {
    padding-left: 5px;
}
ul.scale li#li-25 {
    padding-left: 5px;
}
ul.scale li#li-30 {
    padding-left: 7px;
}
ul.scale li#li-35 {
    padding-left: 4px;
}
ul.scale li#li-40 {
    padding-left: 7px;
}
ul.scale li#li-45 {
    padding-left: 5px;
    width: 34px;
}
ul.scale li#li-50 {
    text-align: right;
    width: 25px;
}

.form-builder-wrapper h1, .form-builder-wrapper h2, .flight h2 {
    color: #000;
    font-size: 1.14em;
    margin: 0 0 00px 20px;
    text-transform: capitalize;
}
ul.form-fields {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left: 50%;
    margin-left: -250px;
    max-width: 500px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: absolute;
    top: 155px;
    width: 100%;
}
ul.form-fields li:nth-child(2) {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    padding-bottom: 20px;
}

.form-builder-wrapper input[type="text"] {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 20px 9px;
    padding: 10px;
    width: 92%;
}
ul.form-fields li input[type="text"] {
    margin: 0 0 10px;
    width: 100%;
}
.form-builder-wrapper input.form-title {
    font-size: 1.43em;
    font-weight: bold;
}
.flight-information-wrapper {
    overflow: hidden;
    padding: 20px 0 0;
    position: static;
}
.flight-information-list {
    overflow: hidden;
}
.flight-information-list li {
    margin: 9px 0;
}

.flight-information-list li .element-wrapper {
    background: #F2F2F2;
    border: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 0 20px;
    overflow: hidden;
    padding: 0px 10px;
    position: relative;
    /*width: 92%;*/
}
.flight-information-list li.hidden-field .element-wrapper {
    border-style: dashed;
}
.flight-information-list li.hidden-field.solid .element-wrapper {
    border-style: solid;
}

/*
.flight-information-list .handler.hidden,
.risk-factor-list .handler.hidden,
.risk-factor-list .editing .handler {
    background: none;
    border: 1px solid transparent;
    display: block !important;
}
.flight-information-list .handler,
.flight-information-list .ui-sortable-helper .handler,
.risk-factor-list .handler,
.risk-factor-list .ui-sortable-helper .handler {
    background: url(../images/hendler_bg.png) no-repeat center center #D7D7D7;
    border: 1px solid #CCC;
    cursor: pointer;
    display: block;
    float: left;
    height: 38px;
    text-indent: -1000px;
    width: 18px;
    margin: 0 -1px 0 1px;
}
*/

/*.flight-information-list li.ui-sortable-helper span.handler {*/
    /*display: block !important;*/
/*}*/
.risk-factor-list {
    overflow: hidden;
    padding: 20px 0;
}
.risk-factor-list > li {
    margin: 9px 0;
    /*position: relative;*/
}
.risk-factor-list > li .entry-header {
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    margin: 0 20px;
    overflow: hidden;
    line-height: 38px;
    padding: 0 10px;
}


/*.risk-factor-list > li .entry-header span{*/
    /*width: 90%;*/
/*}*/

.risk-factor-list > li .risk-factor-wrapper {
    background: #EBEBEB;
    border: 1px solid #CCC;
    border-top: none;
    margin: 0 0 0 20px;
    /*overflow: hidden;*/
    padding: 9px;
    position: relative;
    width: 440px;
}
.risk-factor-list > li .risk-factor-wrapper fieldset {
    background: url(../images/form_builder_border.png) repeat-x left bottom;

}
.risk-factor-list > li .risk-factor-wrapper input[type="text"] {
    margin: 9px 0;
    padding: 8px 10px;
    width: 100%;

}
.risk-factor-list > li .risk-factor-wrapper span.ui-spinner input[type="text"] {
    padding: 7px 10px;
}
.risk-factor-list > li .risk-factor-wrapper span.ui-spinner {
    float: right;
    margin-top: 9px;
}
.risk-factor-list > li .risk-factor-wrapper .btn-green {
    margin-top: 9px;
}
.risk-factor-list > li.new .risk-factor-wrapper {
    border-top: 1px solid #CCC;
    position: relative;
}
.risk-factor-list > li.new h2 {
    background: #E4E4E4;
    border-bottom: 1px solid #CCC;
    font-size: 1em;
    font-weight: normal;
    margin: -9px -9px 9px;
    padding: 11px 9px;
}

.risk-factor-list > li a.edit-risk-factor-link, .risk-factor-list > li a.cancel-risk-factor-link, .risk-factor-list > li.new a.cancel-risk-factor-add {
    color: #0F76BB;
    float: right;
    font-size: 12px;
    text-decoration: none;
}
.risk-factor-list > li.new a.cancel-risk-factor-add {
    margin: 12px 32px 0 0;
    position: relative;
    z-index: 2;
}

.risk-factor-list .save-risk{
    float: none;
}

.risk-factor-list > li a.delete_risk_factor {
    bottom: 20px;
    color: #FF3333;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 20px;
    text-decoration: none;
}
.risk-factor-list > li a.delete_risk_factor:hover {
    text-decoration: underline;
}

a#add-risk-factor-link {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    color: #1076CE;
    display: block;
    margin: 0 20px;
    padding: 25px 10px;
    text-decoration: none;
}
a#add-risk-factor-link:hover{
    text-decoration: underline;
}

a.add-new-response-link {
    color: #1076CE;
    display: block;
    padding: 25px 0px;
    text-decoration: none;
}

a.add-new-response-link:hover {
    text-decoration: underline;
}


#slider-range {
    background: url(../images/slider_bg.png) repeat-y left top;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 9px;
    margin: 0 10px 29px;
}
.form-builder-wrapper .ui-slider-range.ui-widget-header {
    background: #FFCC00;
}
.form-builder-wrapper a.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #AFAFAF;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 21px;
    width: 21px;
}

a.cancel-risk-factor-add:hover {
    text-decoration: underline;
}

a.add-note, a.remove-note {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    color: #0F76BB;
    display: block;
    font-size: 12px;
    padding: 10px 2px;
    text-decoration: none;
}
a.remove-note {
    color: #F33;
}

a.add-note:hover, a.remove-note:hover{
    text-decoration: underline;
}

.risk-factor-global-wrapper input[type="text"].response-text {
    margin: 0;
    float: left;
    width: 84% !important;

}

.risk-factor-global-wrapper input[type="text"].response-value {
    float: right;
    margin: 0 !important;
    width: 100%;
}

span.ui-spinner {
    margin: 0 0 9px 15px;
    border: 0;
    border-radius: 0;
    display: inline-block;
    width: 12.5%;
}

.ui-spinner-up {
    top: 1px !important;
    right: 1px !important;
}

.ui-spinner-down {
    bottom: 1px !important;
    right: 1px !important;

}

.new-response-option, .response-option {
    position: relative;
}
.new-response-option label, .response-option label {
    display: none;
}

a.delete-response-option-link {
    bottom: 10px;
    color: #F33;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-decoration: none;
}

a.delete-response-option-link:hover {
    text-decoration: underline;
}
span.uneditable {
    color: #CCC;
    float: right;
    font-size: 12px;
}
a.show-hide-field {
    color: #0F76BB;
    float: right;
    font-size: 12px;
    text-decoration: none;
}
a.show-hide-field:hover {
    text-decoration: underline;
}

.mitigation-fields {
    margin: 22px 10px 20px;
}
.mitigation-fields li.risk-value-edit {
    background: #EBEBEB;
    border: 1px solid #CCC;
    margin: 9px;
    overflow: hidden;
    position: relative;
}
.mitigation-fields li.risk-value-edit .mitigation-header {
    background: #F2F2F2;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 14px 9px;
}
.mitigation-fields li.risk-value-edit .mitigation-header:hover,
.flight-information-list > li .element-wrapper:hover,
.risk-factor-list > .editing .entry-header,
.risk-factor-list > li .entry-header:hover {
    background: #E4E4E4;
}
.mitigation-fields li.risk-value-edit .mitigation-header span.risk-value {
    border: 1px solid;
    color: #FFF;
    display: block;
    float: left;
    margin: -14px 9px -14px -9px;
    padding: 14px 9px 13px;
    text-align: center;
    width: 59px;
}
.mitigation-fields li.risk-value-edit .field-wrapper {
    padding: 9px;
}
.mitigation-fields li.risk-value-edit input[type="text"] {
    margin: 0 0 9px;
    width: 100%;
}
.mitigation-fields li.risk-value-edit .checkbox-wrapper {
    margin: 0 0 9px;
    overflow: hidden;
}
.mitigation-fields li.risk-value-edit label, .check-block label {
    display: inline-block;
    font-size: 1em;
    max-width: 85%;
    overflow: hidden;
}

.mitigation-fields li.risk-value-edit input[type="checkbox"] {
    /*clear: both;*/
    display: block;
    float: left;
    margin: 0 9px 9px 0;
}
.mitigation-fields li.risk-value-edit .btn.btn-green {
    clear: both;
    margin-bottom: 9px;
}
.mitigation-fields li.risk-value-edit.low-risk .mitigation-header span.risk-value {
    background: #66CC00;
    border-color: #669900;
}
.mitigation-fields li.risk-value-edit.medium-risk .mitigation-header span.risk-value {
    background: #FFCC00;
    border-color: #FF9900;
}
.mitigation-fields li.risk-value-edit.high-risk .mitigation-header span.risk-value {
    background: #FF3333;
    border-color: #FF0000;
}
a.mitigation-edit, a.mitigation-cancel {
    color: #3C76BB;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
}

a.mitigation-edit:hover, a.mitigation-cancel:hover {
    text-decoration: underline;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------> Preview Mode <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.preview-header {
    background: #FFFFCC;
    border-bottom: 1px solid #FFCC00;
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    height: 35px;
    left: 0;
    overflow: hidden;
    padding: 12px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.preview-header .btn-green {
    float: right;
}
.preview-header h1 {
    float: left;
    font-size: 1em;
    margin: 0 150px 0 0;
}
.preview-header a.back-to-form {
    color: #0F76BB;
    display: block;
    font-size: 0.875em;
    text-decoration: none;
}
.flight h2 {
    margin: 0 0 30px;
}
.flight-field-list {
    /*overflow: hidden;*/
}
.flight-field-list .bottom-border {
    margin: 0px 0 20px;
    width: 100%;
}
.flight-field-list li.small-field {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    padding: 0 4px 9px 0;
    width: 50%;
}
.flight-field-list li.small-field.right {
    float: right;
    padding: 0 0 9px 4px;
}
.flight-field-list li.small-field input[type="text"] {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.flight-field-list li.small-field input.date {
    background: url(../images/date_icon.png) no-repeat right center #FFF;
}
.flight-field-list li.small-field input.time {
    background: url(../images/time_icon.png) no-repeat right center #FFF;
}

.flight-field-list li.small-field input[type="text"].airport-to,
.flight-field-list li.small-field input[type="text"].airport-from{
    text-transform: uppercase;
}

.flight-field-list li.trip-number-field label {
    display: inline-block;
    width: 47%;
    float: left !important;
    line-height: 40px;
}

.flight-field-list li.trip-number-field input,
.flight-field-list .sic-input {
    width: 50%;
    float: right;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
}

.flight-field-list .sic-input {
    margin: -14px 0 0 0;
    z-index: 100;
    position: relative;
}

.flight-field-list li.flight-information {
    border-bottom: 1px dashed #E4E4E4;
    height: 42px;
    /*overflow: hidden;*/
    padding: 9px 0;
}
.flight-field-list li.flight-information.last {
    border-bottom: none;
}
.flight-field-list li.flight-information span.dashboard-avatar {
    background: #000;
    border: 1px solid #000;
    display: block;
    float: right;
    height: 40px;
    width: 40px;
}
.flight-field-list li.flight-information label, .risk-factor-wrapper .risk-factor-question label {
    display: block;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}

.flight-field-list li.flight-information label {
    float: none;
    margin-right: 0;
}

.flight-field-list li.flight-information select, .response-option-list select {
    background: none;
    border: none;
    color: #0F76BB;
    cursor: pointer;
}
.flight-field-list li.flight-information input[type="text"] {
    background: #FFF;
    border: 1px solid #CCC;
    margin-left: 10px;
}
.risk-factor-wrapper {
    border-bottom: 1px dashed #CCC;
    margin: 0 0 15px;
    min-height: 49px;
    /*overflow: hidden;*/
    padding: 0 0 9px;
    position: relative;
}

.risk-factor-question-wrapper {
    overflow: hidden;
}
.response-option-list {
    clear: both;
    overflow: hidden;
}
.risk-note-wrapper .risk {
    background: #FF3333;
    color: #FFF;
    display: block;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}
.risk-note-wrapper .risk.hidden {
    background: none;
    color: #CCC;
    display: block !important;

}
.risk-note-wrapper .note {
    background: url(../images/note_icon.png) no-repeat 10px center #FFFF66;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    display: block;
    margin: 28px 0 0;
    padding: 10px 10px 10px 36px;
    position: relative;
    width: 100%;
}
.risk-note-wrapper .note:before {
    background: url(../images/note_span.png) no-repeat left top;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 19px;

}
a.show-help-link {
    color: #999;
    padding-left: 5px;
    text-transform: lowercase;
}
p.help-message {
    color: #999;
    font-size: 0.75em;
    padding: 10px 0;
    width: 90%;

}
.flight .btn-grey {
    float: right;
}
.flight .btn-green {
    margin-right: 20px;
    padding: 9px 115px;
}

.list-select {
    float: left;
    padding-bottom: 10px;
    position: relative;
}
.list-select .result,  .list-select .pilot, .list-select .plane {
    color: #0F76BB;
    cursor: pointer;
    
}
.list-select ul {
    background: #333;
    display: none;
    min-width: 150px;
    position: absolute;
    top: 24px;
    z-index: 1;
}
.list-select ul:before {
    background: url(../images/select_corner.png) no-repeat left top;
    content: '';
    display: block;
    height: 10px;
    left: 10px;
    position: absolute;
    top: -9px;
    width: 100%;
}
.list-select ul li {
    border-bottom: 1px solid #000;
    color: #FFF;
    padding: 10px;
}
.list-select ul li:hover {
    background: #000;
    cursor: pointer;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll !important;
    overflow-x: hidden !important;

}

html .ui-autocomplete {
    height: 300px;
}

/* ASSESSMENT */



.assessment-wrapper .risk-assessment h2 {
    margin: 0 0 15px;
    text-align: center;
    font-size: 1.14em;
}

.assessment-wrapper .border {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    display: block;
    height: 2px;
    width: 100%;
}

.assessment-wrapper .top-border {
    margin: 20px 0;
}

.assessment-wrapper .bottom-border {
    margin: 0 0 20px;
}

.assessment-wrapper .critical-risks {
}

.assessment-wrapper .critical-risks h2 {
    margin: 0 0 15px;
    text-align: left;
    font-size: 1.14em;
}


.assessment-wrapper p.summary {
    text-align: center;
    font-size: 1.0em;
    color: #999;
    padding: 0 4px;
}
.assessment-wrapper span.no-high-risk-factors {
    color: #999999;
    margin: 0 0 10px 0;
    display: inline-block;
}


.assessment-wrapper .note {
    background: url(../images/note_icon.png) no-repeat 10px center #FFFF66;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0.9em;
    color: #000;
    display: block;
    margin: 15px 0 0;
    padding: 10px 10px 10px 36px;
    position: relative;
    width: 100%;
}

.assessment-wrapper ul .last {
    border-bottom: 0;
}

.assessment-risk-wrapper {
    position: relative;
    height: 30px;
    padding: 15px 0;
    border-bottom: 1px dashed #CCC;
}

.assessment-risk-wrapper .question {
}

.assessment-risk-wrapper .answer {
    margin: 3px 0 0 0;
    color: #999;
    display: inline-block;
}

.assessment-risk-wrapper .risk {
    background: #FF3333;
    color: #FFF;
    display: block;
    padding: 14px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 40px;
}
.assessment-risk-wrapper .risk.hidden {
    background: none;
    color: #CCC;
    display: block !important;

}
.assessment-risk-wrapper .note {
    background: url(../images/note_icon.png) no-repeat 10px center #FFFF66;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    display: block;
    margin: 15px 0 0;
    padding: 10px 10px 10px 36px;
    position: relative;
    width: 100%;
}

.assessment-wrapper .btn {
    padding: 9px 33px;
}
.assessment-wrapper a.submit {
    float: right;
}

.assessment-wrapper a.prevent-click:hover {
    background: #CCC;
    border-color: #999;
    color: #FFF;
    cursor: pointer;
}

.assessment-wrapper .risk-sum-wrapper {
    margin: 35px 0;
}

.assessment-wrapper .ui-slider-range.ui-widget-header {
    background: #FFCC00;
}
.assessment-wrapper a.ui-slider-handle.ui-state-default.ui-corner-all {
    border: none;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    behavior:url(PIE.htc);
    height: 50px;
    width: 50px;
    top: -20px;
    left: -20px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}
.assessment-wrapper .ui-widget-content {
    background: #CCCCCC !important;
    border: 0;
}

.assessment-wrapper .green-marker {
    background: #66CC00 !important;
}

.assessment-wrapper .yellow-marker {
    background: #FFCC00 !important;
}

.assessment-wrapper .red-marker {
    background: #FF3333 !important;
}




/*----------------------------------------------------------------------------------*/
/*---------------------------------> Settings page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.settings-page h1,
.settings-page h2 {
    color: #414042;
    font-size: 16px;
    font-weight: bold;
    
    text-transform: capitalize;
    text-align: left;
    margin: 0 20px 13px;
}
.settings-page h2 {
    border-top: 1px solid #E4E4E4;
    -webkit-box-shadow: 0 1px 0 #FFF inset;
    -moz-box-shadow: 0 1px 0 #FFF inset;
    box-shadow: 0 1px 0 #FFF inset;
    
    padding: 22px 0 0;
}

.settings-page span.hint {
    color: #999;
    font-size: 11px;
    line-height: 1.4em;
    padding: 0 10px 0 0;
}

.settings-page a.change-billing-link {
    color: #0F76BB;
    font-size: 11px;
    text-decoration: none;
}

.editable-list {
    overflow: hidden;
    padding: 0 0 20px;
}
.editable-list li {
    margin: 9px 0;
}
.editable-list li.first-name, .editable-list li.name-block {
    overflow: hidden;
}
.editable-list ul {
    overflow: hidden;
}

.editable-list .caption-block {
    overflow: hidden;
    padding: 12px 9px;
}

.editable-list .caption-block:hover,
.editable-list .editing .caption-block,
.editable-list .new .caption-block {
    background: #E4E4E4;    
}
.editable-list .caption-block,
.editable-list .invited .caption-block {
    background: #F2F2F2;    
}

.editable-list .caption-block,
.editable-list .info-block {
    margin: 0 20px;
    border: 1px solid #CCC;
}
.editable-list .invited .caption-block {
    border: 1px dashed #CCC;
    color: #999;
}
.editable-list .caption-block .link {
    color: #0F76BB;
    float: right;
    font-size: 13px;
    text-decoration: none;
}
.editable-list .info-block {
    background: #EBEBEB;
    border-top: none;
    padding: 9px;
    position: relative;
}

.editable-list .hint-block p {
    color: #999;
    font-size: 11px;
    line-height: 1.4em;
    padding: 0 10px 0 0;
}
.editable-list .hint-block p span {
    font-weight: bold;
}

.editable-list .photo-block {
    float: left;
}
/*.editable-list .photo-holder {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 39px;
    padding: 0;
    border: 1px solid #CCC;
    border-right: 0;
    background: url('../images/photo_bg.png') center center no-repeat;
    cursor: pointer;
}*/

.editable-list .input-block input {
    background: #FFF;
    border: 1px solid #CCC;
    
    padding: 12px;
    width: 100%;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.settings-list .input-block label {
    display: none;
}

.editable-list .check-block {
    padding: 4px 0;
}
.editable-list .check-block input {
    float: left;
    margin: 0 10px 0 0;
}



.editable-list .handler {
    display: block;
    width: 18px;
    height: 38px;
    margin: 0 -1px 0 1px;
    border: 1px solid #CCC;
    float: left;
    
    background: url(../images/hendler_bg.png) no-repeat center center #D7D7D7;
    cursor: pointer;
    overflow: hidden;
    
    text-indent: -1000px;
}
.editable-list .handler.hidden,
.editable-list .handler {
    visibility: hidden;
}
.editable-list .editing > .handler,
.editable-list li:hover > .handler,
.editable-list .ui-sortable-helper > .handler {
    visibility: visible;
}


.editable-list .buttons-block {
    padding: 5px 0 0;
}
.editable-list .buttons-block .remove-link {
    float: right;
    color: #F33;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0 0;
}
.editable-list .buttons-block .remove-link:hover {
    text-decoration: underline;
}


.editable-list .add-link {
    color: #1076CE;
    display: inline-block;
    margin: 23px 0 20px 30px;
    text-decoration: none;
}
.editable-list .add-link:hover {
    text-decoration: underline;
}
.editable-list .modify-link {
    margin-top: 0;
}

.editable-list .name-block .name {
    width: 400px !important;
    overflow: hidden;
}


.editable-list .select-block {
    clear: both;
}
.editable-list .select-block label {
    display: none;
}
.editable-list .select-block .caption-block {
    margin: 0;
}
.editable-list .select-block .invited-chief {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    padding: 0 10px 0 0;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------> DASHBOARD(FIRST TIME) <----------------------------*/
/*----------------------------------------------------------------------------------*/
.first-time-dashboard {

}
.first-time-dashboard .first-time-header {
    overflow: hidden;
}

.first-time-dashboard h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 1.14em;
    line-height: 30px;
}

.first-time-dashboard .new-flight-wrapper {
    width: 30%;
    float: right;
}
.first-time-dashboard .new-flight {
    float: right;
}

.first-time-dashboard .btn {
    padding: 7px 25px;
}

.first-time-dashboard .btn-grey:hover {
    background: #CCC;
    border-color: #999;
    color: #FFF;
    cursor: pointer;
}

.first-time-dashboard .first-time-wrapper {
    margin: 10px 0 0 0;
}

.first-time-wrapper h2 {
    font-size: 0.9em;
    color: #FFFFFF;
    background-color: #66CC00;
    border: 1px solid #669900;
    padding: 13px;
}

.first-time-wrapper ul.conditions {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.first-time-wrapper ul.conditions li{
    border-bottom: 1px solid #CCCCCC;
    font-size: 0.9em;
    padding: 13px;
}

.first-time-wrapper ul.conditions li span{
    color: #999999;
    text-decoration: line-through;
}

.first-time-wrapper ul.conditions li a{
    color: #0F76BB;
    text-decoration: none;
}

.first-time-wrapper ul.conditions li a.skip-pilot{
    float:right
}

/* APPROVE ACCOUNT */
.approve-account {

}


.approve-account h2 {
    margin: 0 0 15px;
    text-align: center;
    font-size: 1.14em;
    text-align: center;
}

.approve-account p {
    text-align: center;
    font-size: 1.0em;
    color: #999;
    padding: 0 4px;
}
.approve-account .buttons {
    margin: 20px 0 0 0;
}

.approve-account .btn {
    padding: 7px 93px;
}

.approve-account .btn-green {
    float: left;
}

.approve-account .btn-red {
    float: right;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------> Dashboard page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.dashboard-page {
    width: 460px;
    margin: -8px auto 0;
}
.dashboard-page h1 {
    font-size: 1.14em;
    font-weight: 600;
    line-height: normal;
    padding: 6px 0 0;
    margin: 0;
}
.dashboard-page .caption-block {
    overflow: hidden;
}
.dashboard-page .caption-block .btn {
    float: right;
    width: 100px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.dashboard-page .filter-block {
    padding: 19px 0 17px;
    margin: 0 0 16px;
    height: 17px;
}
.dashboard-page .filter-block,
.dashboard-page .additional-info {
    color: #999;
    border-bottom: 1px solid #E4E4E4;
    -webkit-box-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 0 #FFF;
}
.dashboard-page .filter-block a,
.dashboard-page .filter-block .caption {
    color: #3E76CE;
}
.dashboard-page .filter-block .caption {
    font-weight: bold;
}
.dashboard-page .filter-block .plus {
    //margin-top: 1px;
}
.dashboard-page .filter-block > span {
    display: block;
    float: left;
    line-height: normal;
    margin: 0 4px 0 0;
    line-height: normal;
}

.dashboard-page .additional-info {
    overflow: hidden;
    line-height: normal;
    font-size: 0;
    padding: 0 0 15px;
    margin: 0 0 1px;
}
.dashboard-page .additional-info ul,
.dashboard-page .additional-info li {
    background: url(../images/dashboard_divider.png) left top repeat-y;
}
.dashboard-page .additional-info li {
    display: inline-block;
    width: 153px;
    padding: 24px 0 20px;
    text-align: center;
    background-position: right top;
}
.dashboard-page .additional-info li:first-child .number {
    color: #6C0;
}
.dashboard-page .additional-info .number {
    display: block;
    color: #333;
    font-size: 23px;
    font-weight: bold;
    line-height: 0.8em;
    padding: 0 0 7px;
}
.dashboard-page .additional-info .caption {
    font-size: 11px;
}


.dashboard-page .flights-list li {
    background: url(../images/dashboard_divider_horizontal.png) left bottom repeat-x;
    height: 51px;
    overflow: hidden;
    padding: 9px 0 0;
}
.dashboard-page .flights-list .risk {
    float: right;
    display: block;
    width: 39px;
    height: 27px;
    padding: 12px 0 0;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    background: #6C0;
    border: 1px solid #690;
}
.dashboard-page .flights-list .yellow .risk {
    background: #FC0;
    border: 1px solid #F90;
}
.dashboard-page .flights-list .grey .risk {
    background: transparent;
    border: 1px solid transparent;
    color: #CCC;
}
.dashboard-page .flights-list .red .risk {
    background: #F33;
    border: 1px solid #F00;
}

.dashboard-page .flights-list .name {
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 6px 0 2px;
    font-weight: bold;
}
.dashboard-page .flights-list .info {
    color: #999;
    display: block;
    font-size: 11px;
}

.dashboard-page .chart-block {
    margin: 0 0 20px;
    height: 230px;
}

.dashboard-page .chart-message {
    height: 130px;
    padding: 100px 0 0;
    background: #CCC;
    color: #444;
    font-weight: bold;
    text-align: center;
}

.dashboard-page .no-flights-found {
    margin: 20px 0 0;
}



/*----------------------------------------------------------------------------------*/
/*----------------------------------> Pagination <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.pagination {
    text-align: center;
    padding: 20px 0 40px;
}
.pagination li {
    display: inline-block;
    margin: 0 5px;
}
.pagination li > * {
    color: #3E76CE;
}
.pagination li em {
    color: #000;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/