/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html		                        { width:100%; height:100%; }
body {
    background: #F2F2F2;
    padding:0;
    margin:0;
    font: 14px Arial, Verdana, Helvetica, sans-serif;
    color:#000;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style: none;
}
select, input, textarea        { font-size: 13px; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]				 { font-family: 'PT Sans', Arial; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
button                         { color: #fff; padding: 0; border: 0; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; }
a                              { cursor: pointer; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; margin: 5px 13px 0 0; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.no-overflow                   { overflow:visible !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; overflow: hidden; }
.uppercase	                   { text-transform: uppercase; }
.pointer                       { cursor:pointer; }



:focus {outline:none;}
::-moz-focus-inner {border:0;}


.editable ul, .editable ol {
  padding: 0 0 0 20px;
}
.editable ul li {
  list-style: decimal;
}
.editable ol li {
  list-style: disc;
}

.hidden {
    display: none !important;
}

.truncate {
    display: block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-binding: url(ellipsis.xml#ellipsis);
    white-space: nowrap !important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------> Main Structure <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
    background: #FFF;
    border-bottom: 1px solid #E4E4E4;
    height: 60px;
    margin: 0 0 42px;
    position: relative;
}

.header a{
    color: #0F76BB;
    text-decoration: none;
}

.header div.header-account-information {
    float: left;
    border-right: 1px solid #E4E4E4;
    min-width: 200px;
}

.header div.header-account-information .header-account-avatar {
    display:block;
    float:left;
}

.header div.header-account-information .header-account-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    margin: 22px auto;
    font: 600 16px/100% Arial;
}

.header div.header-link-block {
    float: left;
    padding: 0 0 0 14px;
    width: 15%;

}

.header div.header-link-block span.header-link{
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    padding: 0 20px 0 0;
}



.header .header-user-information-wrapper {
    float:right;
    position: relative;
    height: 60px;
    width: 350px;
}

.header .header-user-information {
    float:right;
    height: 40px;
    top: 50%;
    margin: -20px 10px 0 0;
    position: absolute;
    right: 0;
    clear: both;

}

.header .header-user-information .user-wrapper {
    width: 350px;
    padding: 5px 0;
}

.header .header-user-avatar {
    float:right;
}

.header .header-user-information .header-user-name,
.header .header-user-information .header-user-email {
    display: inline-block;
    float: right;
    margin: 0 25px;
}

.header .header-user-information .header-user-name {
    font: 800 14px/100% Arial;
}


.header .header-user-information .header-user-email {
    font: 400 12px/100% Arial;
    color: #999;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    min-width: 500px;
    padding: 0 20px;
    width: 100%;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------> Styles of buttons <------------------------------*/
/*----------------------------------------------------------------------------------*/
.btn {
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 35px;
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.btn-green {
    background: #66CC00;
    border-color: #669900;
    color: #FFF;
}


.btn-violet {
    background: #8F3FC5;
    background: -webkit-gradient(linear, left top, left bottom, from(#9E58CD), to(#8227BE));
    background: -webkit-linear-gradient(top, #9E58CD, #8227BE);
    background: -moz-linear-gradient(top, #9E58CD, #8227BE);
    background: -ms-linear-gradient(top, #9E58CD, #8227BE);
    background: -o-linear-gradient(top, #9E58CD, #8227BE);
    background-image: -ms-linear-gradient(top, #9E58CD 0%, #8227BE 100%);
    border-color: #DCDCDC;
    color: #FFF;
    cursor: pointer;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px #282828;
}
.btn-violet:hover {
    background: #B74CFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#CA6CFF), to(#A42AF4));
    background: -webkit-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -moz-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -ms-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -o-linear-gradient(top, #CA6CFF, #A42AF4);
    background-image: -ms-linear-gradient(top, #CA6CFF 0%, #A42AF4 100%);
}
.btn-grey {
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
    background: -webkit-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -moz-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -ms-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -o-linear-gradient(top, #FFFFFF, #DBDBDB);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
    border-color: #E5E5E5;
    color: #8F3DC5;
    cursor: pointer;
    padding: 5px 15px;
    text-shadow: 0px 1px 1px #FFF;
}
.btn-grey:hover {
    background: #FFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(75%,#FEFEFE), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
}



.error_list {
  color: #F00;
}

.invalid-field {
    border: 1px solid red !important;
}

/*----------------------------------------------------------------------------------*/
/*--------------------------------> Error Pages <-----------------------------------*/
/*----------------------------------------------------------------------------------*/

.error-page {
    position: relative;
    overflow: visible !important;
}

.error-page div.error-page-wrapper {
    height: 250px;
    width: 680px;
    position: relative;
    margin: 0 auto 0;
    padding: 150px 0;
}

div.error-page-wrapper h1{
    font: 54px/120% 'Titillium Web';
    color: #777;
}

div.error-page-wrapper div.error-code-status{
    margin-top: 100px;
    font: 900 54px/120% 'Titillium Web';
}

div.error-code-status span.error-code{
    color: #212121;
}

div.error-code-status span.error-code-message{
    color: #7F24BD;
}

div.error-message span.error-status-message {
    font: 20px/120% 'Titillium Web';
    color: #666666;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------> Form Builder <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
h1 {
    margin-left: 20px;
}
.form-builder-wrapper {
    margin-bottom: 150px;
    padding-top: 175px;
}
.main-form > .btn.btn-green {
    float: right;
    margin-right: 20px;
}
ul.scale {
    margin: 0 -22px 10px 54px;
    overflow: hidden;
}
ul.scale li {
    color: #FFCC00;
    display: block;
    float: left;
    font-size: 12px;
    overflow: hidden;
    width: 41px;
}
ul.scale li.green {
    color: #66CC00;
}
ul.scale li.red {
    color: #FF3333;
}
ul.scale li#li-10 {
    padding-left: 1px;
}
ul.scale li#li-15 {
    padding-left: 7px;
}
ul.scale li#li-20 {
    padding-left: 7px;
}
ul.scale li#li-25 {
    padding-left: 5px;
}
ul.scale li#li-25 {
    padding-left: 5px;
}
ul.scale li#li-30 {
    padding-left: 7px;
}
ul.scale li#li-35 {
    padding-left: 4px;
}
ul.scale li#li-40 {
    padding-left: 7px;
}
ul.scale li#li-45 {
    padding-left: 5px;
    width: 34px;
}
ul.scale li#li-50 {
    text-align: right;
    width: 25px;
}

.form-builder-wrapper h1, .form-builder-wrapper h2 {
    color: #000;
    margin: 0 0 20px 20px;
    text-transform: capitalize;
}
ul.form-fields {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    padding: 0 0 20px;
    position: absolute;
    top: 155px;
}
.form-builder-wrapper input[type="text"] {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 9px;
    padding: 0 10px;
    width: 460px;
}
.form-builder-wrapper input.first-field {
    height: 50px;
}

.flight-information-list {
    overflow: hidden;
    padding: 20px 0;
}
.flight-information-list li {
    margin: 9px 0;
    overflow: hidden;
}
.flight-information-list li .element-wrapper {
    background: #F2F2F2;
    border: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 0 0;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    width: 460px;
}
.flight-information-list li.hidden-field .element-wrapper {
    border-style: dashed;
}
.flight-information-list li.hidden-field.solid .element-wrapper {
    border-style: solid;
}
.flight-information-list li span.handler, .risk-factor-list > li span.handler {
    background: url(../images/hendler_bg.png) no-repeat center center #D7D7D7;
    border: 1px solid #CCC;
    cursor: pointer;
    float: left;
    height: 38px;
    overflow: hidden;
    text-indent: -1000px;
    width: 18px;
}
.flight-information-list li span.handler.hidden, .risk-factor-list > li span.handler.hidden {
    background: none;
    border: 1px solid transparent;
    display: block !important;
}
.flight-information-list li.ui-sortable-helper span.handler {
    display: block !important;
}
.risk-factor-list {
    overflow: hidden;
    padding: 20px 0;
}
.risk-factor-list > li {
    margin: 9px 0;
    overflow: hidden;
    padding: 5px 0;
}
.risk-factor-list > li .entry-header {
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 11px 9px;
}

.risk-factor-list > li .entry-header span{
    width: 90%;
}

.risk-factor-list > li .risk-factor-wrapper {
    background: #EBEBEB;
    border: 1px solid #CCC;
    margin: 0 0 0 20px;
    overflow: hidden;
    padding: 9px;
    width: 440px;
}

.risk-factor-list > li.editing, .risk-factor-list > li.new {
    height: auto;
    overflow: hidden;
    position: relative;
}


.risk-factor-list > li.editing .entry-header {
    background: #E4E4E4;

}
.risk-factor-list > li a.edit-risk-factor-link, .risk-factor-list > li a.cancel-risk-factor-link {
    color: #0F76BB;
    float: right;
    font-size: 12px;
    text-decoration: none;
}

.risk-factor-list > li a.delete_risk_factor {
    bottom: 10px;
    color: #FF3333;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-decoration: none;
}
.risk-factor-list h2 {
    background: #E4E4E4;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    font-weight: normal;
    margin: -9px -9px 9px;
    padding: 14px 9px;
}
a#add-risk-factor-link {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    color: #1076CE;
    display: block;
    margin: 0 0 0 20px;
    padding: 25px 10px;
    text-decoration: none;
}
a.add-new-response-link {
    color: #1076CE;
    display: block;
    padding: 25px 10px;
    text-decoration: none;
}

#slider-range {
    background: url(../images/slider_bg.png) repeat-y left top;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 9px;
    margin: 0 10px 29px;
}
.ui-slider-range.ui-widget-header {
    background: #FFCC00;
}
a.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #AFAFAF;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 21px;
    width: 21px;
}
a.cancel-risk-factor-add {
    color: #3C76BB;
    font-size: 12px;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px;
}
a.add-note, a.remove-note {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    color: #0F76BB;
    display: block;
    font-size: 12px;
    margin: 0 0 9px;
    padding: 10px 2px;
    text-decoration: none;
}
a.remove-note {
    color: #F33;
}

.risk-factor-wrapper label {
    display: none;
}
.risk-factor-global-wrapper {
    margin: 0 20px 0 0;
}
.risk-factor-global-wrapper input[type="text"] {
    margin: 0 0 9px;
    width: 440px;
}

.new-response-option {
    position: relative;
}
a.delete-response-option-link {
    bottom: 10px;
    color: #F33;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-decoration: none;
}
span.uneditable {
    color: #CCC;
    float: right;
    font-size: 12px;
}
a.show-hide-field {
    color: #0F76BB;
    float: right;
    font-size: 12px;
    text-decoration: none;
}
.mitigation-fields {
    margin: 22px 10px 20px;
}
.mitigation-fields li.risk-value-edit {
    background: #EBEBEB;
    border: 1px solid #CCC;
    margin: 9px;
    overflow: hidden;
    position: relative;
}
.mitigation-fields li.risk-value-edit .mitigation-header {
    background: #F2F2F2;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 14px 9px;
}
.mitigation-fields li.risk-value-edit .mitigation-header:hover {
    background: #E4E4E4;
}
.mitigation-fields li.risk-value-edit .mitigation-header span.risk-value {
    border: 1px solid;
    color: #FFF;
    display: block;
    float: left;
    margin: -14px 9px -14px -9px;
    padding: 14px 9px 13px;
    text-align: center;
    width: 59px;
}
.mitigation-fields li.risk-value-edit .field-wrapper {
    padding: 9px;
}
.mitigation-fields li.risk-value-edit input[type="text"] {
    margin: 0 0 9px;
    width: 100%;
}
.mitigation-fields li.risk-value-edit .checkbox-wrapper {
    margin: 0 0 9px;
    overflow: hidden;

}
.mitigation-fields li.risk-value-edit input[type="checkbox"] {
    clear: both;
    display: block;
    float: left;
    margin: 0 9px 9px 0;
}
.mitigation-fields li.risk-value-edit .btn.btn-green {
    clear: both;
    margin-bottom: 9px;
}
.mitigation-fields li.risk-value-edit.low-risk .mitigation-header span.risk-value {
    background: #66CC00;
    border-color: #669900;
}
.mitigation-fields li.risk-value-edit.medium-risk .mitigation-header span.risk-value {
    background: #FFCC00;
    border-color: #FF9900;
}
.mitigation-fields li.risk-value-edit.high-risk .mitigation-header span.risk-value {
    background: #FF3333;
    border-color: #FF0000;
}
a.mitigation-edit, a.mitigation-cancel {
    color: #3C76BB;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
}









