/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html		                        { width:100%; height:100%; }
body {
    background: #F2F2F2;
    padding:0;
    margin:0;
    font: 14px 'PT Sans', Arial, Verdana, Helvetica, sans-serif;
    color:#000;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style: none;
}
select, input, textarea        { font-size: 13px; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]				 { font-family: 'PT Sans', Arial; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
button                         { color: #fff; padding: 0; border: 0; font-family: 'PT Sans', Arial, Verdana, Helvetica, sans-serif; }
a                              { cursor: pointer; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; margin: 5px 13px 0 0; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.no-overflow                   { overflow:visible !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; overflow: hidden; }
.uppercase	                   { text-transform: uppercase; }
.pointer                       { cursor:pointer; }



:focus {outline:none;}
::-moz-focus-inner {border:0;}


.editable ul, .editable ol {
  padding: 0 0 0 20px;
}
.editable ul li {
  list-style: decimal;
}
.editable ol li {
  list-style: disc;
}

.hidden {
    display: none;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------> Main Structure <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.header {
    background: #FFF;
    border-bottom: 1px solid #E4E4E4;
    height: 60px;
    margin: 0 0 42px;
}
.wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 500px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------> Styles of buttons <------------------------------*/
/*----------------------------------------------------------------------------------*/
.btn {
    border: 1px solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: block;
    float: left;
    font: 700 25px/120% 'Titillium Web';
    text-decoration: none;
}
.btn:hover {
    text-decoration: none;
}
.btn-violet {
    background: #8F3FC5;
    background: -webkit-gradient(linear, left top, left bottom, from(#9E58CD), to(#8227BE));
    background: -webkit-linear-gradient(top, #9E58CD, #8227BE);
    background: -moz-linear-gradient(top, #9E58CD, #8227BE);
    background: -ms-linear-gradient(top, #9E58CD, #8227BE);
    background: -o-linear-gradient(top, #9E58CD, #8227BE);
    background-image: -ms-linear-gradient(top, #9E58CD 0%, #8227BE 100%);
    border-color: #DCDCDC;
    color: #FFF;
    cursor: pointer;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px #282828;
}
.btn-violet:hover {
    background: #B74CFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#CA6CFF), to(#A42AF4));
    background: -webkit-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -moz-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -ms-linear-gradient(top, #CA6CFF, #A42AF4);
    background: -o-linear-gradient(top, #CA6CFF, #A42AF4);
    background-image: -ms-linear-gradient(top, #CA6CFF 0%, #A42AF4 100%);
}
.btn-grey {
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB));
    background: -webkit-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -moz-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -ms-linear-gradient(top, #FFFFFF, #DBDBDB);
    background: -o-linear-gradient(top, #FFFFFF, #DBDBDB);
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);
    border-color: #E5E5E5;
    color: #8F3DC5;
    cursor: pointer;
    padding: 5px 15px;
    text-shadow: 0px 1px 1px #FFF;
}
.btn-grey:hover {
    background: #FFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(75%,#FEFEFE), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
    background: linear-gradient(top, #FFFFFF 0%, #FEFEFE 75%, #F0F0F0 100%);
}



.error_list {
  color: #F00;
}

/*----------------------------------------------------------------------------------*/
/*--------------------------------> Error Pages <-----------------------------------*/
/*----------------------------------------------------------------------------------*/

.error-page {
    position: relative;
    overflow: visible !important;
}

.error-page div.error-page-wrapper {
    height: 250px;
    width: 680px;
    position: relative;
    margin: 0 auto 0;
    padding: 150px 0;
}

div.error-page-wrapper h1{
    font: 54px/120% 'Titillium Web';
    color: #777;
}

div.error-page-wrapper div.error-code-status{
    margin-top: 100px;
    font: 900 54px/120% 'Titillium Web';
}

div.error-code-status span.error-code{
    color: #212121;
}

div.error-code-status span.error-code-message{
    color: #7F24BD;
}

div.error-message span.error-status-message {
    font: 20px/120% 'Titillium Web';
    color: #666666;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------> Form Builder <---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.form-builder-wrapper h1, .form-builder-wrapper h2 {
    color: #000;
    margin: 0 0 20px;
}
ul.form-fields {
    background: url(../images/form_builder_border.png) repeat-x left bottom;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 20px;
}
.form-builder-wrapper input[type="text"] {
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    padding: 0 10px;
    width: 460px;
}
.form-builder-wrapper input.first-field {
    height: 50px;
}
.flight-information-wrapper h2 {

}
.flight-information-list li {
    border: 1px solid #CCC;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    height: 40px;
    line-height: 40px;
    margin: 0 20px 10px;
    overflow: hidden;
    padding: 0 10px;
    width: 460px;
}


























